@import "tailwindcss";
@tailwind utilities;

@* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}


@utility btn {
  cursor: pointer;
  hover: cursor-pointer;
}


@theme {
  --color-primary: #fae28c;
  --color-secondary: #8d44f2;
  --color-lightprimary: #ffedad;
}