@import "tailwindcss";
@tailwind utilities;

@utility btn {
  cursor: pointer;
  hover: cursor-pointer;
}


@theme {
  --color-primary: #fae28c;
  --color-secondary: #8d44f2;
  --color-lightprimary: #ffedad;
}